<!-- This file is the main window for viewing the graphs -->
<%- include ('./partials/dashboard.ejs') %>


<html>

<head>
    <link rel="stylesheet" href="./stylesheets/standard-style.css">
</head>

<body>
    <div style="height:92.5vh;overflow: hidden;">
        <div style="width:95%;height:auto;margin-bottom:20px;">
        <img src="/public/uon.png" style="height:auto;width:200px;display:block-inline;margin-top:20px;float:right;">
        <h1 style="font-family: helvetica; font-weight:100;display:inline-block;color:white;margin-left:50px;margin-top:30px">Accumulator Data
        </h1>
        </div>
        
        <!-- https://stackoverflow.com/questions/45149062/chart-js-how-to-show-cursor-pointer-for-labels-legends-in-line-chart USE this for cursor -->
        <div style="height:72.5%">



            <div class="width:100%">
                <div class="jumbotron" style="height:400px;width:25%;display;float:left;display:inline-block;padding-top:30px"><h4>Brick 1</h4>
                    <canvas style="background-color: transparent;height:60%;width:100%"
                    id="myChart1"></canvas>
                    <p>Average Brick Temperature (ºC): <span id="BR1-AvgTemp">N/A</span></p>
                    <p>Temperature Range (ºC): <span id="BR1-TempRng">N/A</span></p>
                    <p>Average Brick Voltage (V): <span id="BR1-AvgVoltage">N/A</span></p>
                    <p>Voltage Range (V): <span id="BR1-VoltageRng">N/A</span></p>
                
                </div>
                <div class="jumbotron" style="height:400px;width:25%;display;float:left;display:inline-block;padding-top:30px"><h4>Brick 2</h4>
                    <canvas style="background-color: transparent;height:60%;width:100%"
                    id="myChart2"></canvas>
                    <p>Average Brick Temperature (ºC): <span id="BR2-AvgTemp">N/A</span></p>
                    <p>Temperature Range (ºC): <span id="BR2-TempRng">N/A</span></p>
                    <p>Average Brick Voltage (V): <span id="BR2-AvgVoltage">N/A</span></p>
                    <p>Voltage Range (V): <span id="BR2-VoltageRng">N/A</span></p></div>
                <div class="jumbotron" style="height:400px;width:25%;display;float:left;display:inline-block;padding-top:30px"><h4>Brick 3</h4>
                    <canvas style="background-color: transparent;height:60%;width:100%"
                    id="myChart3"></canvas>
                    <p>Average Brick Temperature (ºC): <span id="BR3-AvgTemp">N/A</span></p>
                    <p>Temperature Range (ºC): <span id="BR3-TempRng">N/A</span></p>
                    <p>Average Brick Voltage (V): <span id="BR3-AvgVoltage">N/A</span></p>
                    <p>Voltage Range (V): <span id="BR3-VoltageRng">N/A</span></p></div>
                <div class="jumbotron" style="height:400px;width:25%;display;float:left;display:inline-block;padding-top:30px"><h4>Brick 4</h4>
                    <canvas style="background-color: transparent;height:60%;width:100%"
                    id="myChart4"></canvas>
                    <p>Average Brick Temperature (ºC): <span id="BR4-AvgTemp">N/A</span></p>
                    <p>Temperature Range (ºC): <span id="BR4-TempRng">N/A</span></p>
                    <p>Average Brick Voltage (V): <span id="BR4-AvgVoltage">N/A</span></p>
                    <p>Voltage Range (V): <span id="BR4-VoltageRng">N/A</span></p></div>
            </div>
            <div class="width:100%">
                <div class="jumbotron" style="height:400px;width:25%;display;float:left;display:inline-block;padding-top:30px"><h4>Brick 5</h4>
                    <canvas style="background-color: transparent;height:60%;width:100%"
                    id="myChart5"></canvas>
                    <p>Average Brick Temperature (ºC): <span id="BR5-AvgTemp">N/A</span></p>
                    <p>Temperature Range (ºC): <span id="BR5-TempRng">N/A</span></p>
                    <p>Average Brick Voltage (V): <span id="BR5-AvgVoltage">N/A</span></p>
                    <p>Voltage Range (V): <span id="BR5-VoltageRng">N/A</span></p></div>
                <div class="jumbotron" style="height:400px;width:25%;display;float:left;display:inline-block;padding-top:30px"><h4>Brick 6</h4>
                    <canvas style="background-color: transparent;height:60%;width:100%"
                    id="myChart6"></canvas>
                    <p>Average Brick Temperature (ºC): <span id="BR6-AvgTemp">N/A</span></p>
                    <p>Temperature Range (ºC): <span id="BR6-TempRng">N/A</span></p>
                    <p>Average Brick Voltage (V): <span id="BR6-AvgVoltage">N/A</span></p>
                    <p>Voltage Range (V): <span id="BR6-VoltageRng">N/A</span></p></div>
                <div class="jumbotron" style="height:400px;width:25%;display;float:left;display:inline-block;padding-top:30px"><h4>Brick 7</h4>
                    <canvas style="background-color: transparent;height:60%;width:100%"
                    id="myChart7"></canvas>
                    <p>Average Brick Temperature (ºC): <span id="BR7-AvgTemp">N/A</span></p>
                    <p>Temperature Range (ºC): <span id="BR7-TempRng">N/A</span></p>
                    <p>Average Brick Voltage (V): <span id="BR7-AvgVoltage">N/A</span></p>
                    <p>Voltage Range (V): <span id="BR7-VoltageRng">N/A</span></p></div>
                <div class="jumbotron" style="height:400px;width:25%;display;float:left;display:inline-block;padding-top:30px"><h4>Brick 8</h4>
                    <canvas style="background-color: transparent;height:60%;width:100%"
                    id="myChart8"></canvas>
                    <p>Average Brick Temperature (ºC): <span id="BR8-AvgTemp">N/A</span></p>
                    <p>Temperature Range (ºC): <span id="BR8-TempRng">N/A</span></p>
                    <p>Average Brick Voltage (V): <span id="BR8-AvgVoltage">N/A</span></p>
                    <p>Voltage Range (V): <span id="BR8-VoltageRng">N/A</span></p></div>
            </div>
        </div>
    </div>

</body>
<script src="/public/packages/chart.js/dist/chart.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/packages/jquery/dist/jquery.js"></script>
<script src="/scripts/Accum-Charts.js" ></script>
<script src="/scripts/functions.js" ></script>

<script>

    function buttonPressed() {
        update(10, '14:00');
    }

    function update(data, label, chart) {
        chart.data.datasets[0].data.push(data);
        chart.data.datasets[0].data.shift();
        chart.data.labels.push(label);
        chart.data.labels.shift();
        chart.update();
    }

    function updateBarChart(data1, data2, barChart){

        barChart.data.datasets[0].data = [data1, data2]
        
        barChart.update()
    }

    function labelUpdater(data, spanID){
        $(spanID).html(data);
    }

    var socket = io();
    socket.emit("ACC");
    socket.on('acc-data', function (msg) {
        console.log(msg);
        //update brick1
        updateBarChart(msg.data[0], msg.data[2], myBarChart1);
        //update brick1's labels
        labelUpdater(msg.data[0], '#BR1-AvgVoltage');
        labelUpdater(msg.data[1], '#BR1-VoltageRng');
        labelUpdater(msg.data[2], '#BR1-AvgTemp');
        labelUpdater(msg.data[3], '#BR1-TempRng');


        //update brick2
        updateBarChart(msg.data[4], msg.data[6], myBarChart2);
        //Update brick2 labels
        labelUpdater(msg.data[4], '#BR2-AvgVoltage');
        labelUpdater(msg.data[5], '#BR2-VoltageRng');
        labelUpdater(msg.data[6], '#BR2-AvgTemp');
        labelUpdater(msg.data[7], '#BR2-TempRng');
        
        //update brick3
        updateBarChart(msg.data[8], msg.data[10], myBarChart3);
        //update brick3 labels
        labelUpdater(msg.data[8], '#BR3-AvgVoltage');
        labelUpdater(msg.data[9], '#BR3-VoltageRng');
        labelUpdater(msg.data[10], '#BR3-AvgTemp');
        labelUpdater(msg.data[11], '#BR3-TempRng');
        
        
        //update brick4
        updateBarChart(msg.data[12], msg.data[14], myBarChart4);
        //Update brick4 labels
        labelUpdater(msg.data[12], '#BR4-AvgVoltage');
        labelUpdater(msg.data[13], '#BR4-VoltageRng');
        labelUpdater(msg.data[14], '#BR4-AvgTemp');
        labelUpdater(msg.data[15], '#BR4-TempRng');
        
        
        //update brick5
        updateBarChart(msg.data[16], msg.data[18], myBarChart5);
        //update brick5
        labelUpdater(msg.data[16], '#BR5-AvgVoltage');
        labelUpdater(msg.data[17], '#BR5-VoltageRng');
        labelUpdater(msg.data[18], '#BR5-AvgTemp');
        labelUpdater(msg.data[19], '#BR5-TempRng');
        
        //update brick6
        updateBarChart(msg.data[20], msg.data[22], myBarChart6);
        //update brick6 labels
        labelUpdater(msg.data[20], '#BR6-AvgVoltage');
        labelUpdater(msg.data[21], '#BR6-VoltageRng');
        labelUpdater(msg.data[22], '#BR6-AvgTemp');
        labelUpdater(msg.data[23], '#BR6-TempRng');
        
        //update brick7
        updateBarChart(msg.data[24], msg.data[26], myBarChart7);
        //update brick7 labels
        labelUpdater(msg.data[24], '#BR7-AvgVoltage');
        labelUpdater(msg.data[25], '#BR7-VoltageRng');
        labelUpdater(msg.data[26], '#BR7-AvgTemp');
        labelUpdater(msg.data[27], '#BR7-TempRng');
        
        //update brick8
        updateBarChart(msg.data[28], msg.data[30], myBarChart8);
        //Update brick8 labels
        labelUpdater(msg.data[28], '#BR8-AvgVoltage');
        labelUpdater(msg.data[29], '#BR8-VoltageRng');
        labelUpdater(msg.data[30], '#BR8-AvgTemp');
        labelUpdater(msg.data[31], '#BR8-TempRng');
        
    })



</script>
</html>