<%- include ('./partials/dashboard.ejs') %>

<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
    <link rel="stylesheet" href="./stylesheets/standard-style.css">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <link rel="stylesheet" href="./stylesheets/config-style.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

</head>

<body>
    <div style="height:90vh;overflow: hidden;">
        <div style="width:95%;height:auto;margin-bottom:20px;">
        <img src="/public/uon.png" style="height:auto;width:200px;display:block-inline;margin-top:20px;float:right;">
        <h1 style="font-family: helvetica; font-weight:100;display:inline-block;color:white;margin-left:50px;margin-top:30px">Configuration
        </h1>
        </div>
       
        <div style="height:auto;width:80%; margin:0 auto;" class="jumbotron bg-gradient-dark" >
        <div style="display:table-row">
        <div class="headings" style="font-family:Helvetica, sans-serif; color:white;font-weight:100;margin-right:20px;display:table-cell;padding-left:30px">
            <h2>Network Settings</h2>
            <h4>SSID:</h4><input type="text" value="telemetry-network">
            <h4>Password:</h4>
            <input type="text" value="pass123">
            <h4>Reset Network</h4><button>Reset</button>
        </div>
        <div class="headings" style="font-family:Helvetica, sans-serif; color:white;font-weight:100;margin-right:20px;display:table-cell;padding-left:30px">
            <h2>Receiver Module Settings</h2>
            <h4>Connection:</h4>
            <h4>Signal Strength: </h4>
        </div>
        <div class="headings" style="font-family:Helvetica, sans-serif; color:white;font-weight:100;margin-right:20px;display:table-cell;padding-left: 30px;">
            <h2>Data storage and Database settings</h2>
            <h4>Database uri connection: </h4><input type="text" value="">
            <h4>Start Data Session</h4> <button>Start</button>
            <h4>Stop Data Session:</h4> <button>Stop</button>
        </div>
    </div>
    <div style="display:table-row">
        <div class="headings" style="font-family:Helvetica, sans-serif; color:white;font-weight:100;margin-right:20px;display:table-cell;padding-left:30px;padding-top:30px">
            <h2>Server Settings</h2>
            <h4>Ip Address:</h4><input type="text" value="192.168.0.1">
            <h4>Port</h4><input type="text" value="8080">
            <h4>Reset Server</h4><button>Reset</button>
        </div>
    </div>
    </div>

    </div>
    <div style="height:30px;margin-top:20px;text-align:center;font-size: 15;color:white;font-family: Arial, Helvetica, sans-serif;">Instructions are at <a style="color:blue" href="https://github.com/mbh1620/Car-Telemetry-Receive-Server">https://github.com/mbh1620/Car-Telemetry-Receive-Server</a></div>
    </body>
    </html>