
<!-- This file is the main window for viewing the graphs -->
<%- include ('./partials/dashboard.ejs') %>
<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="./stylesheets/standard-style.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

</head>

<body>
    <div style="height:92.5vh;overflow: hidden;">
        <div style="width:95%;height:auto;margin-bottom:20px;">
        <img src="/public/uon.png" style="height:auto;width:200px;display:block-inline;margin-top:20px;float:right;">
        <h1 style="font-family: helvetica; font-weight:100;display:inline-block;color:white;margin-left:50px;margin-top:30px">Data Link
        </h1>
        </div>
        
        <!-- https://stackoverflow.com/questions/45149062/chart-js-how-to-show-cursor-pointer-for-labels-legends-in-line-chart USE this for cursor -->
        <div style="height:72.5%" class="jumbotron bg-dark">
            <button class="btn btn-md btn-primary" onclick="start()">Connect To Car</button>
            <button class="btn btn-md btn-danger" onclick="stop()">Disconnect From Car</button>
            <label style="color:white">Baud Rate</label>
            <input id="baud_rate" class="form-control w-25" type="text" value="115200">
            <label style="color:white">Car Xbee ID:</label>
            <input class="form-control w-25" type="text">
            <label style="color:white">COM port:</label>
            <input id="COM_port" class="form-control w-25" type="text" value="/dev/ttyUSB0">
            <h3 style="color:white;font-weight:100;margin-top:30px">Log</h3>
        <div id="script-log" style="background-color: white; width:100%;height:200px;overflow:scroll;margin-top:20px;padding-top:20px;padding-bottom:20px">

        </div>
        </div>
        
    </div>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/packages/jquery/dist/jquery.js"></script>
<script src="/scripts/ecu-charts.js" ></script>
<script src="/scripts/functions.js" ></script>
<script>
    var socket = io();
    socket.emit("XBEE");

    socket.on('log-data', function (msg) { 
        pushToLog(msg.data);
    })

    function start(){
        var baud_rate = $('#baud_rate').val();
        var com_port = $('#COM_port').val();
        $.ajax({
            method: 'POST',
            url: "./xbee/connect",
            data: {baud_rate:baud_rate, com_port:com_port}
        })
    }

    function stop(){
        $.ajax({
            method: 'POST',
            url: "./xbee/disconnect"
        })
    }

    function pushToLog(message){
        //Function used to update the script log
        $('#script-log').append("<p style='height:auto;margin-top;10px;margin-left:20px;margin-bottom:0px;font-family:helvetica'>" + message + "</p>");
        updateScroll()
    }

    function updateScroll(){
    var element = document.getElementById("script-log");
    element.scrollTop = element.scrollHeight;
}
</script>

</html>