<!-- This file is the main window for viewing the graphs -->
<%- include ('./partials/dashboard.ejs') %>


<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
    <!-- <script src="scripts/sketch.js" type="text/javascript"></script> -->
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="./stylesheets/standard-style.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

</head>

<body>
    <div style="height:92.5vh;overflow: hidden;">
        <div style="width:95%;height:auto;margin-bottom:20px;">
        <img src="/public/uon.png" style="height:auto;width:200px;display:block-inline;margin-top:20px;float:right;">
        <h1 style="font-family: helvetica; font-weight:100;display:inline-block;color:white;margin-left:50px;margin-top:30px">ECU Data
        </h1>
        </div>
        
        <!-- https://stackoverflow.com/questions/45149062/chart-js-how-to-show-cursor-pointer-for-labels-legends-in-line-chart USE this for cursor -->
        <div style="height:72.5%">
            <div style="height:40%;width:100%;margin: 0 auto;">
            <canvas style="background-color: black;height:100%;width:100%"
                id="myChart1"></canvas>
            </div>
            <div style="height:40%;width:100%;margin: 0 auto">
            <!-- <input type="range" id="slider2" orient="vertical"
                style="display:inline-block;-webkit-appearance: slider-vertical;width:10px;height:25%"> -->
            <canvas style="background-color: black;height:100%;width:100%"
                id="myChart2"></canvas>
            </div>
            <!-- <input type="range" id="slider3" orient="vertical"
                style="display:inline-block;-webkit-appearance: slider-vertical;width:10px;height:25%"> -->
            <div style="height:40%;width:100%;margin: 0 auto;">
            <canvas style="background-color: black;height:100%;width:100%"
                id="myChart3"></canvas>
            </div>
        </div>
    </div>
<div style="height:30px;margin-top:20px;font-size: 15;color:white;font-family: Arial, Helvetica, sans-serif;">
<!-- Dropdown for adding certain signals onto graphs -->
<label>ECU State: N/A</label>
<label>Vehicle Dynamics Duration: N/A</label>
<label>Fault Code: N/A</label>


<label style="margin-left:20px">Add/Remove Data to the graphs: </label>
<select name="data" id="waveform-selector">
    <option value="0">accel_pedal</option>
    <option value="1">front_brake_pedal</option>
    <option value="2">rear_brake_pedal</option>
    <option value="3">steering</option>
    <option value="4">left_torque_demand</option>
    <option value="5">right_torque_demand</option>
    <option value="6">accelerometer_x</option>
    <option value="7">accelerometer_y</option>
    <option value="8">accelerometer_z</option>
    <option value="9">gyro_yaw</option>
    <option value="10">gyro_pitch</option>
    <option value="11">gyro_roll</option>
    <option value="12">ECU_state</option>
    <option value="13">vehicle_dynamics_duration</option>
    <option value="14">fault_code</option>
  </select>
  <select name="data" id="graph-selector">
    <option value="1">Graph 1</option>
    <option value="2">Graph 2</option>
    <option value="3">Graph 3</option>
  </select>
  <input id="color-of-waveform" type="color">
  <button class="btn btn-sm btn-primary" onclick="addWaveform()">Add</button>
  <button class="btn btn-sm btn-danger" onclick="removeWaveform()">Remove</button>
  <button class="btn btn-sm btn-warning" onclick="clearGraph()">Clear</button>
  <button class="btn btn-sm btn-warning" onclick="showFunction()">Custom Function</button>
  <input id="math-function" class="form-control" style="width:500px;display:inline-block" type="text" placeholder="Try 'accel_pedal + front_brake_pedal'" hidden>
</div>
</body>
<script src="/public/packages/chart.js/dist/Chart.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/packages/jquery/dist/jquery.js"></script>
<script src="/scripts/ecu-charts.js" ></script>
<script src="/scripts/functions.js" ></script>

<script>

    var graph1_waveforms = [];
    var graph2_waveforms = [];
    var graph3_waveforms = [];

    function buttonPressed() {
        update(10, '14:00');
    }

    function update(data, label, chart) {
        chart.data.datasets[0].data.push(data);
        chart.data.datasets[0].data.shift();
        chart.data.labels.push(label);
        chart.data.labels.shift();
        chart.update();
    }

    var socket = io();
    socket.emit("ECU");
    
    socket.on('ecu-data', function (msg) {
        update_charts(msg);
    })

    function addWaveform(){
        //get value of the waveform chooser
        var waveform = $('#waveform-selector').val();
        
        //get value of the graph chooser
        var graph = $('#graph-selector').val();

        var colour = $('#color-of-waveform').val();

        //Add the waveform to a list of waveforms for that graph
        var dataOBJ = {
                label: 'test1',
                borderColor: colour,
                borderWidth: 0.8,
                data: [, , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ,
                    , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , 
                    , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , 
                    , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ,
                    , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , 
                    , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , 
                    , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , 
                    , , , ,]
            }
        
        if(graph == 1 && graph1_waveforms.indexOf(parseInt(waveform)) == -1){
            graph1_waveforms.push(parseInt(waveform));
            myLineChart1.data.datasets.push(dataOBJ);
            myLineChart1.update()
        } else if(graph == 2 && graph2_waveforms.indexOf(parseInt(waveform)) == -1){
            graph2_waveforms.push(parseInt(waveform));
            myLineChart2.data.datasets.push(dataOBJ);
            myLineChart2.update()
        } else if(graph == 3 && graph3_waveforms.indexOf(parseInt(waveform)) == -1){
            graph3_waveforms.push(parseInt(waveform));
            myLineChart3.data.datasets.push(dataOBJ);
            myLineChart3.update()
        }
    }

    function removeWaveform(){
        //Remove waveforms from a graph
        //First check that there is the waveform in the graph
        //get value of the waveform chooser
        var waveform = $('#waveform-selector').val();
        
        //get value of the graph chooser
        var graph = $('#graph-selector').val();

        if(graph == 1 && graph1_waveforms.indexOf(parseInt(waveform)) != -1){
            graph1_waveforms.splice(graph1_waveforms.indexOf(parseInt(waveform)), 1);
            myLineChart1.data.datasets.splice(graph1_waveforms.indexOf(parseInt(waveform)))
            myLineChart1.update()
        } else if (graph == 2 && graph2_waveforms.indexOf(parseInt(waveform)) != -1){
            graph2_waveforms.splice(graph2_waveforms.indexOf(parseInt(waveform)),1)
            myLineChart2.data.datasets.splice(graph2_waveforms.indexOf(parseInt(waveform)))
            myLineChart2.update()
        } else if (graph == 3 && graph3_waveforms.indexOf(parseInt(waveform)) != -1){
            graph3_waveforms.splice(graph3_waveforms.indexOf(parseInt(waveform)), 1)
            myLineChart3.data.datasets.splice(graph3_waveforms.indexOf(parseInt(waveform)))
            myLineChart3.update()
        }
    }

    function update_charts(data){
        //Check the arrays to see what waveforms are in the charts
        
        for(var i = 0; i < graph1_waveforms.length; i++){
            myLineChart1.data.datasets[i].data.push(data.data[graph1_waveforms[i]])
            myLineChart1.data.datasets[i].data.shift();
            myLineChart1.update()
            
        }
        for(var i = 0; i < graph2_waveforms.length; i++){
            myLineChart2.data.datasets[i].data.push(data.data[graph2_waveforms[i]])
            myLineChart2.data.datasets[i].data.shift();
            myLineChart2.update()
        }
        for(var i = 0; i < graph3_waveforms.length; i++){
            myLineChart3.data.datasets[i].data.push(data.data[graph3_waveforms[i]])
            myLineChart3.data.datasets[i].data.shift();
            myLineChart3.update()
        }
        myLineChart3.data.labels.push(data.time);
        myLineChart3.data.labels.shift();
        myLineChart3.update()
    }

    function clearGraph(){
        var graph = $('#graph-selector').val();

        if(graph == 1){
            graph1_waveforms = [];
            myLineChart1.data.datasets = [];
            myLineChart1.update()
        } else if (graph == 2){
            graph2_waveforms = [];
            myLineChart2.data.datasets = []
            myLineChart2.update()
        } else if (graph == 3){
            graph3_waveforms = []
            myLineChart3.data.datasets = []
            myLineChart3.update()
        }
    }

</script>
<script>
    var mymap = L.map('mapid').setView([52.0715, -1.0157], 14.3);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoibWJoMTYyMCIsImEiOiJjankwb244aWgwNHd1M2dsYWtkd2h2NWdwIn0.74tfwmTddrE7BpzyAA-0hw'
    }).addTo(mymap);
</script>
<script>
    function changeview() {
        //grab the value of the select box and then change the onscreen elements
        var page = $('#pageSelector').val();
        console.log(page);
        var default_view_elements = [$('#myChart1'), $('#myChart2'), $('#myChart3'), $('#myChart4'), $('#image'), $('#slider1'), $('#slider2'),
        $('#slider3'), $('#slider4'), $('#slider5'), $('#slider6')];
        var speed_large = [$('#speed-large-chart')];
        var acceleration_large = [$('#acc-large-chart')];
        var battery_large = [$('#battery-large-chart')];


        if (page == "default") {
            for (var i = 0; i < default_view_elements.length; i++) {
                default_view_elements[i].show();
                console.log("hidden");
            }
                speed_large[0].hide();
                acceleration_large[0].hide();
                battery_large[0].hide();
        } else if (page == "Speed Large") {
            for (var i = 0; i < default_view_elements.length; i++) {
                default_view_elements[i].hide();
                console.log("hidden");
            }
            acceleration_large[0].hide();
            battery_large[0].hide();
            speed_large[0].show();
            myLineChartSpeed.resize();
        } else if (page == "Acceleration Large") {
            for (var i = 0; i < default_view_elements.length; i++) {
                default_view_elements[i].hide();
                console.log("hidden");
            }
            battery_large[0].hide();
            acceleration_large[0].show();
            myLineChartAcceleration.resize();
        } else if (page == "Battery Large") {
            for (var i = 0; i < default_view_elements.length; i++) {
                default_view_elements[i].hide();
                console.log("hidden");
            }
            speed_large[0].hide();
            acceleration_large[0].hide();
            battery_large[0].show()
            myLineChartBattery.resize();
        } else {
            for (var i = 0; i < default_view_elements.length; i++) {
                default_view_elements[i].hide();
                console.log("hidden");
            }
        }
    }
    var flag = true
    function showFunction(){
        if(flag == true){
            flag = false;
            $('#math-function').attr('hidden', false)
        } else {
            $('#math-function').attr('hidden', true)
            flag = true;
        }
    }

</script>

</html>