<!-- This file is the main window for viewing the graphs -->
<%- include ('./partials/dashboard.ejs') %>


<html>

<head>
    <link rel="stylesheet" href="./stylesheets/standard-style.css">
</head>

<body>
    <div style="height:92.5vh;overflow: hidden;">
        <div style="width:95%;height:auto;margin-bottom:20px;">
        <img src="/public/uon.png" style="height:auto;width:200px;display:block-inline;margin-top:20px;float:right;">
        <h1 style="font-family: helvetica; font-weight:100;display:inline-block;color:white;margin-left:50px;margin-top:30px">Inverter Data
        </h1>
        </div>
        
        <!-- https://stackoverflow.com/questions/45149062/chart-js-how-to-show-cursor-pointer-for-labels-legends-in-line-chart USE this for cursor -->
        <div style="height:90%">
            <div class="jumbotron" style="height:50%;width:100%;padding-top:10px;">
                <h3>Max Available Torque</h3>
                <div style="height:100%;width:100%;margin: 0 auto;">
                    <canvas style="background-color: black;height:100%;width:100%"
                        id="myChart1"></canvas>
                    </div>
            </div>
            <div class="jumbotron" style="width:49%;height:50%;display:inline-block;margin-right:2%;padding-top:20px"><h3>Left Inverter</h3>
                <p>Mode of operation:</p>
                <p>Power Module Error:</p>
                <p>System Error 1:</p>
                <p>System Error 2:</p>
                <p>System Warning:</p>
                <p>Status:</p>
                <p>Max available torque:</p>
            </div>
            <div class="jumbotron" style="width:49%;height:50%;float:right;padding-top:20px"><h3>Right Inverter</h3>
                <p>Mode of operation:</p>
                <p>Power Module Error:</p>
                <p>System Error 1:</p>
                <p>System Error 2:</p>
                <p>System Warning:</p>
                <p>Status:</p>
                <p>Max available torque:</p></div>
        </div>
    </div>
</body>
<script src="/public/packages/chart.js/dist/Chart.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/packages/jquery/dist/jquery.js"></script>
<script src="/scripts/inverter-charts.js" ></script>
<script src="/scripts/functions.js" ></script>

<script>

    function buttonPressed() {
        update(10, '14:00');
    }

    function update(data, label, chart) {
        chart.data.datasets[0].data.push(data);
        chart.data.datasets[0].data.shift();
        chart.data.labels.push(label);
        chart.data.labels.shift();
        chart.update();
    }

    function update2(data, data2, label, chart) {
        chart.data.datasets[0].data.push(data);
        chart.data.datasets[0].data.shift();
        chart.data.datasets[1].data.push(data2);
        chart.data.datasets[1].data.shift();
        chart.data.labels.push(label);
        chart.data.labels.shift();
        chart.update();
    }

    var socket = io();
    socket.emit("INV");
    socket.on('inv-data', function (msg) {
        console.log(msg);
        //maxTorque Left and Right
        update2(msg.data[6], msg.data[29], msg.data[46], myLineChart1);
        console.log(msg);
    })
</script>
</html>