<!-- This file is the main window for viewing the graphs -->
<%- include ('./partials/dashboard.ejs') %>


<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
    <!-- <script src="scripts/sketch.js" type="text/javascript"></script> -->
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="./stylesheets/standard-style.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

</head>

<body>
    <div style="height:92.5vh;overflow: hidden;">
        <div style="width:95%;height:auto;margin-bottom:20px;">
        <img src="/public/uon.png" style="height:auto;width:200px;display:block-inline;margin-top:20px;float:right;">
        <h1 style="font-family: helvetica; font-weight:100;display:inline-block;color:white;margin-left:50px;margin-top:30px">Inverter Data
        </h1>
        </div>
        
        <!-- https://stackoverflow.com/questions/45149062/chart-js-how-to-show-cursor-pointer-for-labels-legends-in-line-chart USE this for cursor -->
        <div style="height:90%">
            <div class="jumbotron" style="height:50%;width:100%">Graph goes here of max available torque</div>
            <div class="jumbotron" style="width:49%;height:50%;display:inline-block;margin-right:2%"><h3>Left Inverter</h3>
                <p>Mode of operation:</p>
                <p>Power Module Error:</p>
                <p>System Error 1:</p>
                <p>System Error 2:</p>
                <p>System Warning:</p>
                <p>Status:</p>
                <p>Max available torque:</p>
            </div>
            <div class="jumbotron" style="width:49%;height:50%;float:right"><h3>Right Inverter</h3>
                <p>Mode of operation:</p>
                <p>Power Module Error:</p>
                <p>System Error 1:</p>
                <p>System Error 2:</p>
                <p>System Warning:</p>
                <p>Status:</p>
                <p>Max available torque:</p></div>
        </div>
    </div>
<div style="height:30px;margin-top:20px;text-align:center;font-size: 15;color:white;font-family: Arial, Helvetica, sans-serif;">Instructions are at <a style="color:blue" href="https://github.com/mbh1620/Car-Telemetry-Receive-Server">https://github.com/mbh1620/Car-Telemetry-Receive-Server</a></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/scripts/ecu-charts.js" ></script>
<script src="/scripts/functions.js" ></script>

<script>

    function buttonPressed() {
        update(10, '14:00');
    }

    function update(data, label, chart) {
        chart.data.datasets[0].data.push(data);
        chart.data.datasets[0].data.shift();
        chart.data.labels.push(label);
        chart.data.labels.shift();
        chart.update();
    }

    var socket = io();
    socket.emit("ECU");
    socket.on('ecu-data', function (msg) {
        console.log(msg);
        update(msg.data[0], msg.data[3], myLineChart1);
        update(msg.data[1], msg.data[3], myLineChart2);
        update(msg.data[2], msg.data[3], myLineChart3);
        // update(msg.data[0], '14:05', myLineChart4);
    })



</script>
</html>