<!-- This file is the main window for viewing the graphs -->
<%- include ('./partials/dashboard.ejs') %>

<html>

<head>
</head>

<body>
    <div style="height:92.5vh;overflow: hidden;">
        <div style="width:95%;height:auto;margin-bottom:20px;">
        <img src="/public/uon.png" style="height:auto;width:200px;display:block-inline;margin-top:20px;float:right;">
        <h1 style="font-family: helvetica; font-weight:100;display:inline-block;color:white;margin-left:50px;margin-top:30px">Primary Telemetry
        </h1>
        
        </div>

        <!-- https://stackoverflow.com/questions/45149062/chart-js-how-to-show-cursor-pointer-for-labels-legends-in-line-chart USE this for cursor -->
        <div style="height:72.5%;margin-top: 30px;">
            <div style="height:40%;width:100%;margin: 0 auto;">
            <canvas style="background-color: black;height:100%;width:100%"
                id="myChart1"></canvas>
            </div>
            <div style="height:40%;width:100%;margin: 0 auto">
            <canvas style="background-color: black;height:100%;width:100%"
                id="myChart2"></canvas>
            </div>
            <div style="height:40%;width:100%;margin: 0 auto;">
            <canvas style="background-color: black;height:100%;width:100%"
                id="myChart3"></canvas>
            </div>
            <canvas style="height:100%px;width:100%;background-color: black;display:none;"
                id="speed-large-chart"></canvas>
            <canvas style="height:100%px;width:100%;background-color: black;display:none;"
                id="acc-large-chart"></canvas>
            <canvas style="height:100%px;width:100%;background-color: black;display:none;"
                id="battery-large-chart"></canvas>
        </div>
        
    </div>
</body>
<script src="/public/packages/chart.js/dist/Chart.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/packages/jquery/dist/jquery.js"></script>
<script src="/scripts/charts.js" ></script>
<script src="/scripts/functions.js" ></script>

<script>
    
    function buttonPressed() {
        update(10, '14:00');
    }

    function update(data, label, chart) {
        chart.data.datasets[0].data.push(data);
        chart.data.datasets[0].data.shift();
        chart.data.labels.push(label);
        chart.data.labels.shift();
        chart.update();
    }

    var socket = io();
    socket.emit("PRI");

    socket.on('primary-data', function (msg) {
        console.log(msg);
        update(msg.data[0], msg.time, myLineChart1);
        update(msg.data[1], msg.time, myLineChart2);
        update(msg.data[2], msg.time, myLineChart3);
        // update(msg.data[0], '14:05', myLineChart4);
    })



</script>
<script>
    var mymap = L.map('mapid').setView([52.0715, -1.0157], 14.3);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoibWJoMTYyMCIsImEiOiJjankwb244aWgwNHd1M2dsYWtkd2h2NWdwIn0.74tfwmTddrE7BpzyAA-0hw'
    }).addTo(mymap);
</script>
<script>
    function changeview() {
        //grab the value of the select box and then change the onscreen elements
        var page = $('#pageSelector').val();
        console.log(page);
        var default_view_elements = [$('#myChart1'), $('#myChart2'), $('#myChart3'), $('#myChart4'), $('#image'), $('#slider1'), $('#slider2'),
        $('#slider3'), $('#slider4'), $('#slider5'), $('#slider6')];
        var speed_large = [$('#speed-large-chart')];
        var acceleration_large = [$('#acc-large-chart')];
        var battery_large = [$('#battery-large-chart')];


        if (page == "default") {
            for (var i = 0; i < default_view_elements.length; i++) {
                default_view_elements[i].show();
                console.log("hidden");
            }
                speed_large[0].hide();
                acceleration_large[0].hide();
                battery_large[0].hide();
        } else if (page == "Speed Large") {
            for (var i = 0; i < default_view_elements.length; i++) {
                default_view_elements[i].hide();
                console.log("hidden");
            }
            acceleration_large[0].hide();
            battery_large[0].hide();
            speed_large[0].show();
            myLineChartSpeed.resize();
        } else if (page == "Acceleration Large") {
            for (var i = 0; i < default_view_elements.length; i++) {
                default_view_elements[i].hide();
                console.log("hidden");
            }
            battery_large[0].hide();
            acceleration_large[0].show();
            myLineChartAcceleration.resize();
        } else if (page == "Battery Large") {
            for (var i = 0; i < default_view_elements.length; i++) {
                default_view_elements[i].hide();
                console.log("hidden");
            }
            speed_large[0].hide();
            acceleration_large[0].hide();
            battery_large[0].show()
            myLineChartBattery.resize();
        } else {
            for (var i = 0; i < default_view_elements.length; i++) {
                default_view_elements[i].hide();
                console.log("hidden");
            }
        }
    }

</script>

</html>