<%- include('./partials/dashboard') %>

<html>

<head>
</head>

<body>
    <div style="height:92.5vh;overflow: hidden;">
        <div style="width:95%;height:auto;margin-bottom:20px;">
            <div style="height:auto;width:80%;margin:0 auto;margin-top:30px">
        <img src="/public/uon.png" style="height:auto;width:200px;display:block-inline;float:right;">
        <h1 style="font-family: helvetica; font-weight:100;display:inline-block;color:white;">Testing
        </h1>
        <div class="jumbotron bg-dark" style="margin-top:30px;">
        <p style="color:white;font-size: 17;">To run the python testing script, press start and to stop it press the stop button. (Makesure testing is set to off when connecting to data-link)</p>
    
    </br>
        <button class="btn btn-primary">Setup Cloud Formations Pipeline</button>
    </br>
        <img src="./public/pipeline.png" style="width:40%; height:auto;"></br>
        <label style="margin-top:30px;color:white" for="stream">Create or choose a DynamoDB Table:</label>
        <select id="table-name-select" onchange="check()">
            <% for(var i = 0; i < tables.TableNames.length; i++){ %>
                <option value="<%=tables.TableNames[i]%>"><%=tables.TableNames[i]%></option>
            <% } %>
            <option value="create-new">[Create New Table]</option>
        </select>
        <input id='new-table-name' class="form-control w-25" type="text" hidden placeholder="New Table Name">
</br>

        <label style="margin-top:30px;color:white" for="cars">Choose a testing script:</label>

        <select name="scripts" id="scripts">
        <option value="">test.py</option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        </select>
    </br>
        <button class="btn btn-primary" onclick="start()">Start</button>
        <button class="btn btn-primary" onclick="stop()">Stop</button>
            
        <h4 style="margin-top:20px;color:white">Testing: </h4>
        <% if (testing_status == true){ %>
            <h4 id="status" style="color:green">Active</h4>
        <% } else { %>
            <h4 id="status" style="color:red">Not Active</h4>
        <% } %>
        <h3 style="color:white;font-weight:100">Log</h3>
        <div id="script-log" style="background-color: white; width:100%;height:200px;overflow:scroll;margin-top:20px;padding-top:20px;padding-bottom:20px">

        </div>
    </div>
    </div>
    </div>
    </div>
    </body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script>
    if($('#table-name-select').val() == 'create-new'){
            
            $('#new-table-name').removeAttr('hidden');
        } else {
            console.log('hello')
            $('#new-table-name').attr('hidden', true);
        }


    var socket = io();
    socket.emit("TEST");

    socket.on('log-data', function (msg) { 
        pushToLog(msg.data);
    })

    

    function check(){
        //Check value of select
        if($('#table-name-select').val() == 'create-new'){
            
            $('#new-table-name').removeAttr('hidden');
        } else {
            console.log('hello')
            $('#new-table-name').attr('hidden', true);
        }
    }

    function start(){
        var kinesis_stream;
        var name = null;
        var dbname = null;

        if($('#table-name-select').val() == 'create-new'){
            name = $('#new-table-name').val();
            dbname = name;
        } else {
            dbname = $('#table-name-select').val();
        }

        if($('#stream-yes').is(":checked")){
            kinesis_stream = true;
        } else {
            kinesis_stream = false;
        }
        console.log(kinesis_stream);

        var data = {
            kinesis_stream:kinesis_stream,
            name:name,
            dbname:dbname
        }
        $.ajax({
            method: 'POST',
            url: "./testing/start",
            data: data
        })

        $('#status').html('Active').attr('style', 'color:green');


    }

    function stop(){
        $.ajax({
            method: 'POST',
            url: "./testing/stop"
        })
        $('#status').html('Not Active').attr('style', 'color:red');
    }

    function pushToLog(message){
        //Function used to update the script log
        $('#script-log').append("<p style='margin-top;10px;margin-left:20px;margin-bottom:0px;font-family:helvetica'>" + message + "</p>");
        updateScroll()
    }

    function updateScroll(){
    var element = document.getElementById("script-log");
    element.scrollTop = element.scrollHeight;
}

</script>